h1 {
  color: maroon;
  margin-left: 170px;
  font-size: 300%;
}
.cate {
  color: green;
  margin-left: 100px;
  font-size: 200%;
}
.s,.ct{

  font-family: arial,helvetica,sans-serif;
  width: 18%;
  margin-left: 12%;
  border: 2px solid black;
  font-size: 120%;
}
.name,.course{
  font-family: arial,helvetica,sans-serif;
  color: rebeccapurple;
  margin-left: 100px;
  font-size: 200%;
}